.m-rank-cont {
    flex: 1;
    height: .1px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #3DA89E;
}
.m-rank .m-header {
    position: absolute;
    top: 0;
}

.m-rank .header-img {
    width: 100%;
}

.m-rank .current {
    height: .3rem;
    display: flex;
    margin: .05rem 0 .12rem;
    padding: 0 .21rem 0 .25rem;
    color: #666;
    align-items: center;
    background: #fff;
    border-radius: .04rem;
    font-size: .14rem;
    width: 3.35rem;
}

.m-rank .current .num {
    color: #FFDB76;
    flex: 1;
    text-align: right;
}

.m-rank .list {
    flex: 1;
    height: .1rem;
    width: 100%;
    margin-top: .1rem;
    padding: 0 .2rem;
    color: #666;
    overflow: scroll;
}

.m-rank .list .item {
    width: 100%;
    background: #FFFFFF;
    border-radius: .04rem;
    display: flex;
    align-items: center;
    margin-bottom: .12rem;
    height: .59rem;
    padding: 0 .12rem 0 0;
}

.m-rank .list .item .order {
    font-size: .2rem;
    width: .61rem;
    height: .23rem;
    line-height: .23rem;
    text-align: center;
}

.m-rank .list .item .province {
    flex: 1;
    text-align: left;
}

.m-rank .list .item .order img {
    width: .22rem;
}
.m-rank .list .item .num {
    font-size: .21rem;
    color:#F6C751;
}